@model MvcStok.Models.Entity.TBLCATEGORILER
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Categori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.CATEGORIID)
        @Html.TextBoxFor(m => m.CATEGORIID, new { @class = "form-control" })

        <br />
        @Html.LabelFor(m=>m.CATEGORIAD)
        @Html.TextBoxFor(m => m.CATEGORIAD, new {@class="form-control"})
    </div>
    <div>
        <button class="btn btn-warning">UPDATE CATEGORY</button>
    </div>
}