@{
    ViewBag.Title = "Home Page";
    Layout="~/Views/Shared/_MainLayout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="jumbotron">
    <h1>CARPETS-RUGS-TRAVEL</h1>
    <p class="lead">We have a lot of collections and products.The most popular carpet is flying carpet</p>
    <p>
        <img src="~/Scripts/İmages/gora.png" width="550" px" />
</div>

<div class="row">
    <div class="col-md-4">
        <h1>SHOW ROOM</h1>
        <a href="~/scripts/İmages/Showroom.mp4" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a>
    </div>
    <br />
    <br />
    <div class="col-md-4">
     
    </div>
    <div class="col-md-4">
      
    </div>
</div>